{{#> layout}}
    {{#*inline "content"}}
        <h1>Albums</h1>
        <div class="albums">
            {{#each albumList}}
                <div class="album">
                <img src="{{imageUrl}}" alt="Album's photo"/>
                <p>{{artistName}}</p>
                <p>{{albumName}}</p>
                    <a href="/like/{{id}}">
                        {{#if isLikedByCurrentUser}}
                            <button id="likeButton{{albumName}}">unlike</button>
                        {{else}}
                            <button id="unlikeButton{{albumName}}">like</button>
                        {{/if}}
                    </a>
                </div>
            {{/each}}
        </div>
    {{/inline}}
{{/layout}}