{{#> layout}}
    {{#*inline "content"}}
        <script>
            function checkProfilePicture() {
                let profilePicture = document.getElementById("profilePictureInput");
                let submitButton = document.getElementById("submit_upload");
                if (profilePicture.files.length > 0) {
                    submitButton.classList.remove("hidden");
                }
            }
            function changeProfilePicture() {
                let modal = document.getElementById("modal")
                modal.classList.toggle("hidden")
            }
        </script>
        <div class="wrapper">
                <div id = "profileCard" onclick="changeProfilePicture()">
                    <p>Hello {{currentUser.username}}</p>
                    <div id = "hoverEffect">
                        <img id="profilePicture" src="{{currentUser.profilePicture}}" alt="User's profile picture">
                        <div class="overImgText">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26 6.5H22.8025L21.25 4.1675C21.1128 3.96185 20.9269 3.79329 20.7088 3.67684C20.4907 3.56038 20.2472 3.49964 20 3.5H12C11.7528 3.49964 11.5093 3.56038 11.2912 3.67684C11.0731 3.79329 10.8872 3.96185 10.75 4.1675L9.19625 6.5H6C5.07174 6.5 4.1815 6.86875 3.52513 7.52513C2.86875 8.18151 2.5 9.07174 2.5 10V24C2.5 24.9283 2.86875 25.8185 3.52513 26.4749C4.1815 27.1313 5.07174 27.5 6 27.5H26C26.4596 27.5 26.9148 27.4095 27.3394 27.2336C27.764 27.0577 28.1499 26.7999 28.4749 26.4749C28.7999 26.1499 29.0577 25.764 29.2336 25.3394C29.4095 24.9148 29.5 24.4596 29.5 24V10C29.5 9.54037 29.4095 9.08525 29.2336 8.66061C29.0577 8.23597 28.7999 7.85013 28.4749 7.52513C28.1499 7.20012 27.764 6.94231 27.3394 6.76642C26.9148 6.59053 26.4596 6.5 26 6.5ZM26.5 24C26.5 24.1326 26.4473 24.2598 26.3536 24.3536C26.2598 24.4473 26.1326 24.5 26 24.5H6C5.86739 24.5 5.74021 24.4473 5.64645 24.3536C5.55268 24.2598 5.5 24.1326 5.5 24V10C5.5 9.86739 5.55268 9.74022 5.64645 9.64645C5.74021 9.55268 5.86739 9.5 6 9.5H10C10.2472 9.50037 10.4907 9.43962 10.7088 9.32317C10.9269 9.20671 11.1128 9.03816 11.25 8.8325L12.8025 6.5H19.1963L20.75 8.8325C20.8872 9.03816 21.0731 9.20671 21.2912 9.32317C21.5093 9.43962 21.7528 9.50037 22 9.5H26C26.1326 9.5 26.2598 9.55268 26.3536 9.64645C26.4473 9.74022 26.5 9.86739 26.5 10V24ZM16 10.5C14.8133 10.5 13.6533 10.8519 12.6666 11.5112C11.6799 12.1705 10.9108 13.1075 10.4567 14.2039C10.0026 15.3003 9.88378 16.5067 10.1153 17.6705C10.3468 18.8344 10.9182 19.9035 11.7574 20.7426C12.5965 21.5818 13.6656 22.1532 14.8295 22.3847C15.9933 22.6162 17.1997 22.4974 18.2961 22.0433C19.3925 21.5892 20.3295 20.8201 20.9888 19.8334C21.6481 18.8467 22 17.6867 22 16.5C21.9983 14.9092 21.3657 13.384 20.2408 12.2592C19.116 11.1343 17.5908 10.5017 16 10.5ZM16 19.5C15.4067 19.5 14.8266 19.3241 14.3333 18.9944C13.8399 18.6648 13.4554 18.1962 13.2284 17.6481C13.0013 17.0999 12.9419 16.4967 13.0576 15.9147C13.1734 15.3328 13.4591 14.7982 13.8787 14.3787C14.2982 13.9591 14.8328 13.6734 15.4147 13.5576C15.9967 13.4419 16.5999 13.5013 17.1481 13.7284C17.6962 13.9554 18.1648 14.3399 18.4944 14.8333C18.8241 15.3266 19 15.9067 19 16.5C19 17.2957 18.6839 18.0587 18.1213 18.6213C17.5587 19.1839 16.7956 19.5 16 19.5Z" fill="#231F27"/>
                            </svg>

                        </div>
                    </div>
                </div>
                <div  id="modal" class="hidden">
                <div id="updateProfilePicture" >
                    <img src="/static/closebtn.svg" onclick="changeProfilePicture()" class="closeBtn">
                    <form method="POST" id="photoForm" enctype=multipart/form-data action="/profile/updateProfilePicture">
                        <input type="file" id="profilePictureInput" name="profile_picture" onchange="checkProfilePicture()"/>
                        <input type="submit" id="submit_upload" class="hidden"/>
                    </form>
                </div>
                </div>
                 <div id="liked-albums">
                     {{#each likedAlbums}}
                         <div class="album">
                             <img src="{{imageUrl}}" alt="Album's photo"/>
                             <p>{{artistName}}</p>
                             <p>{{albumName}}</p>
                             <a href="/profile/unlike/{{id}}" class="likeBTN" id="unlikeButton{{albumName}}"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M30 11.75C30 20.5 17.0262 27.5825 16.4737 27.875C16.3281 27.9533 16.1654 27.9943 16 27.9943C15.8346 27.9943 15.6719 27.9533 15.5262 27.875C14.9738 27.5825 2 20.5 2 11.75C2.00232 9.69528 2.81958 7.72539 4.27248 6.27248C5.72539 4.81958 7.69528 4.00232 9.75 4C12.3313 4 14.5912 5.11 16 6.98625C17.4088 5.11 19.6688 4 22.25 4C24.3047 4.00232 26.2746 4.81958 27.7275 6.27248C29.1804 7.72539 29.9977 9.69528 30 11.75Z" fill="#E1D90F"/>
                             </svg>
                             </a>
                         </div>
                     {{/each}}
                 </div>
            <div class="friendsList">
                <form method="POST" id ="searchForm" action="/searchUser">
                    <label for="search_user_input">
                    <input type="text" name="search_user_input" placeholder="Find other profiles here"/>
                    </label>
                    <button type="submit" id="SearchBtn">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28.53 27.47L22.1075 21.0475C23.939 18.9413 24.8811 16.2063 24.7354 13.419C24.5896 10.6316 23.3673 8.00981 21.3262 6.10611C19.285 4.20241 16.5845 3.16559 13.7938 3.21419C11.0031 3.26279 8.34027 4.39303 6.36665 6.36665C4.39303 8.34027 3.26279 11.0031 3.21419 13.7938C3.16559 16.5845 4.20241 19.285 6.10611 21.3262C8.00981 23.3673 10.6316 24.5896 13.419 24.7354C16.2063 24.8811 18.9413 23.939 21.0475 22.1075L27.47 28.53C27.6122 28.6625 27.8002 28.7346 27.9945 28.7312C28.1888 28.7277 28.3742 28.649 28.5116 28.5116C28.649 28.3742 28.7277 28.1888 28.7312 27.9945C28.7346 27.8002 28.6625 27.6122 28.53 27.47ZM4.75 14C4.75 12.1705 5.2925 10.3821 6.3089 8.86097C7.32531 7.33982 8.76996 6.15422 10.4602 5.45411C12.1504 4.754 14.0103 4.57082 15.8046 4.92773C17.5989 5.28465 19.2471 6.16562 20.5407 7.45926C21.8344 8.75289 22.7153 10.4011 23.0723 12.1954C23.4292 13.9897 23.246 15.8496 22.5459 17.5398C21.8458 19.23 20.6602 20.6747 19.139 21.6911C17.6179 22.7075 15.8295 23.25 14 23.25C11.5477 23.247 9.19661 22.2715 7.46255 20.5374C5.72848 18.8034 4.75297 16.4523 4.75 14Z" fill="white"/>
                        </svg>
                    </button>
                </form>
                <h2>Users you follow</h2>
                <div class="friendsCards">
                {{#each followedUsers}}
                    <a href="/{{id}}">
                        <div class="followedUsers">
                            <img class="profile_picture" src="{{profilePicture}}">
                            <p class="username"> {{username}}</p>
                            <p class="email">{{email}}</p>
                            <a id="unfollow-button" href="/follow/{{id}}"><button>Unfollow</button></a>
                        </div>
                    </a>
                {{/each}}
                </div>
            </div>
        </div>
        <br>

    {{/inline}}
{{/layout}}