{{#> layout}}
    {{#*inline "content"}}
        <div>{{message}}</div>
        <div class="usersFound">
        {{#each foundUsers}}
                <a href="/{{id}}">
                    <div class="foundUserCard">
                        <img class="profile_picture_search" src="{{this.profilePicture}}">
                        <div class="userNameAdEmail">
                            <p class="username"> @{{username}}</p>
                            <a href="/follow/{{id}}" id = "follow_btn">
                                {{#if isFollowed}}
                                    <button>Unfollow</button>
                                {{else}}
                                    <button>Follow</button>
                                {{/if}}
                            </a>
                        </div>
                    </div>
                </a>
        {{/each}}
        </div>
    {{/inline}}
{{/ layout}}