{{#> layout}}
    {{#*inline "content"}}
        <div class="wrapper">
                <div id = "profileCard">
                    <img id="profilePicture" src="{{profileUser.profilePicture}}" alt="...">
                    <p class="visitedUserName">{{profileUser.username}}</p>
                    <a href="/follow/{{profileUser.id}}">
                        {{#if isFollowed}}
                            <button>Unfollow</button>
                        {{else}}
                            <button>Follow</button>
                        {{/if}}
                    </a>
                </div>
                 <div id="liked-albums">
                     {{#each likedAlbums}}
                         <div class="album">
                             <img src="{{imageUrl}}" alt="Album's photo"/>
                             <p>{{artistName}}</p>
                             <p>{{albumName}}</p>

                             {{#if isLikedByCurrentUser}}
                                 <a href="/likeOnSelectedProfile/{{id}}/{{profileUser.id}}" class="likeBTN" id="unlikeButton{{albumName}}"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">

                                     <path d="M30 11.75C30 20.5 17.0262 27.5825 16.4737 27.875C16.3281 27.9533 16.1654 27.9943 16 27.9943C15.8346 27.9943 15.6719 27.9533 15.5262 27.875C14.9738 27.5825 2 20.5 2 11.75C2.00232 9.69528 2.81958 7.72539 4.27248 6.27248C5.72539 4.81958 7.69528 4.00232 9.75 4C12.3313 4 14.5912 5.11 16 6.98625C17.4088 5.11 19.6688 4 22.25 4C24.3047 4.00232 26.2746 4.81958 27.7275 6.27248C29.1804 7.72539 29.9977 9.69528 30 11.75Z" fill="#E1D90F"/>
                                 </svg>
                                 </a>
                             {{else}}
                                 <a href="/likeOnSelectedProfile/{{id}}/{{profileUser.id}}" class="likeBTN" id="likeButton{{albumName}}"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">

                                     <path d="M20 4C17.375 4 15.0925 5.18375 13.75 7.1675C12.4075 5.18375 10.125 4 7.5 4C5.51159 4.00232 3.60528 4.79324 2.19926 6.19926C0.793236 7.60528 0.00231576 9.51159 0 11.5C0 15.15 2.275 18.9487 6.7625 22.7887C8.81881 24.541 11.04 26.0899 13.395 27.4137C13.5041 27.4724 13.6261 27.5031 13.75 27.5031C13.8739 27.5031 13.9959 27.4724 14.105 27.4137C16.46 26.0899 18.6812 24.541 20.7375 22.7887C25.225 18.9487 27.5 15.15 27.5 11.5C27.4977 9.51159 26.7068 7.60528 25.3007 6.19926C23.8947 4.79324 21.9884 4.00232 20 4ZM13.75 25.8888C11.6987 24.705 1.5 18.465 1.5 11.5C1.50165 9.90921 2.13433 8.38405 3.25919 7.25919C4.38405 6.13433 5.90921 5.50165 7.5 5.5C10.035 5.5 12.1637 6.85375 13.0562 9.03375C13.1128 9.17131 13.2089 9.28896 13.3324 9.37176C13.4559 9.45457 13.6013 9.49877 13.75 9.49877C13.8987 9.49877 14.0441 9.45457 14.1676 9.37176C14.2911 9.28896 14.3872 9.17131 14.4438 9.03375C15.3363 6.85375 17.465 5.5 20 5.5C21.5908 5.50165 23.116 6.13433 24.2408 7.25919C25.3657 8.38405 25.9983 9.90921 26 11.5C26 18.465 15.8013 24.705 13.75 25.8888Z" fill="black"/>
                                 </svg>
                                 </a>
                             {{/if}}
                         </div>
                     {{/each}}
                 </div>
            <div class="friendsList">
                <h2>Following</h2>
                {{#each followedUsers}}
                    <div class="followedUsers">
                        <img class="profile_picture" src="{{profilePicture}}">
                        <p  class="username"> {{username}}</p>
                        <p class="email">{{email}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/inline}}
{{/layout}}